@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;700&display=swap");

body {
  font-family: "Assistant", sans-serif;
  background-color: #eee;
}

nav {
  width: 100%;
  height: auto;
  padding: 12px 20px;
  background-color: white;
  box-shadow: 0 0 10px 5px gray;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /*สำหรับจัด layout ปุ่ม login ไปทางขวา */
}

.milestone-container {
  display: flex;
  gap: 10px;
  margin: 20px;
  align-items: center;
}

.milestone {
  color: #b6d7f0;
}

.important {
  text-decoration: underline;
}

.milestone-card {
  display: inline-block;
  background-color: whitesmoke;
  box-shadow: 0 0 10px 5px gray;
  width: 400px;
  height: 300px;
  border-radius: 8px;
  padding: 10px;
  margin: 24px 8px;
}

button:hover {
  background-color: lightgreen;
}

button {
  padding: 4px;
  border-radius: 4px;
}

input:focus {
  background-color: lightgray;
}

a:hover {
  color: lightcoral;
}

.btn1 {
  color: green;
  padding: 6px 8px;
  width: auto;
  height: auto;
  margin: 10px;
}

@media (max-width: 764px) {
  .milestone-container {
    flex-direction: column;
    gap: 20px;
  }

  .milestone-card {
    width: 100%;
    box-sizing: border-box;
  }
}
